﻿@model MvcApplication1.Models.Customer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Customer</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name):
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Address):
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Address)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Mobileno):
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Mobileno)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Birthdate):
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Birthdate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EmailID):
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EmailID)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.CustomerID }) |
    @Html.ActionLink("Back to List", "ShowAllCustomerDetails")
</p>
